// Primary colors
$Primary-TextColor: #323232;
$Primary-CtaColor: #0095ff;
$Background-Color: #ffffff;

// Secondary colors
$Video-playerComponents: #000000;
$Secondary-TextColor: #afafaf;
$Cta-hover: #0065ad;
$Divider-LineColor: #e1e1e1;
$Form-fieldBackground: #fafafa;
